.heading {
  text-align: center;
  font-size: 56px;
  line-height: 60px;
  color: white;
}
.square {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}
.list_unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}